/* کانتینر اصلی */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
    gap: 20px;
    background-color: white;
}

/* استایل دکمه */
.btn {
    background: linear-gradient(118.51deg, #594aaf 20.19%, #3e3285 100.42%);
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* افکت هاور روی دکمه */
.btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.3);
}

/* متن نمایش داده شده */
.contain {
    padding: 30px 50px;
    background-color: #144e52;
    border-radius: 10px;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.14);
    color: white;
    font-size: 20px;
    text-align: center;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

/* وقتی متن مخفی میشه، انیمیشن محو شدن داشته باشه */
.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}